.auth-button {
  box-sizing: border-box;
  text-decoration: none;
  padding-top: 12px;
  display: block;
  width: 180px;
  height: 45px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all 0.4s;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  &:hover {
    color: #0baaaa;
    background-color: #ffffff;
  }
}
