.blog-menu {
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
  margin-right: 5%;
}
.blog-menu__item {
  width: 270px;
  min-height: 42px;
  text-align: right;
  border-right: 3px solid transparent;
  padding-top: 10px;
  padding-right: 20px;
}
.blog-menu__item--active {
  border-right-color: #00bfa5;
  .blog-menu__link {
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    color: #00bfa5;
  }
}

.blog-menu__link {
  text-decoration: none;
  color: #455a64;
  display: block;
  height: 100%;
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  transition: color 0.4s;
  &:hover {
    color: #00bfa5;
  }
}
