@import 'normalize';
@import 'fonts';
html,
body {
  height: 100%;
}
body {
  position: relative;
}
* {
  box-sizing: border-box;
}
@mixin tablets() {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin note() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin phone() {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@import './pages/index/index';
@import './pages/login/login';
@import './pages/about/about';
@import './pages/blog/blog';
@import './pages/works/works';
