block var

<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="./styles/main.min.css")
        script(src="./js/pre/preloader.js")
        <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3TcnH8PVb-Acpn9T_33VInQUNLsYZBIw" defer)
        script(src="./js/bundle.js" defer)
    body
        block content