@import '../../_components/note/note';
@import '../../_components/slider/slider';
.works {
  position: relative;
  min-height: 100vh;
  background: #ffffff;
  .container-svg-triangles {
    .right {
      fill: #ffffff;
    }
    .left {
      fill: #ffffff;
    }
  }
  @include phone() {
    min-height: 575px;
  }
}

.feedback {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
  @include tablets() {
    padding-bottom: 240px;
  }
}

.feedback-title {
  z-index: 20;
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 273px;
  text-align: center;
  @include tablets() {
    width: 370px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @include phone() {
    width: 160px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .block-title {
    &::after {
      top: calc(35px - 2.5px);
    }
    &::before {
      top: calc(35px - 2.5px);
    }
    font-size: 63px;
    @include tablets() {
      font-size: 49px;
    }
    @include phone() {
      font-size: 35px;
    }
  }
  img {
    position: absolute;
    height: 170px;
    width: 500px;
    top: -30px;
    left: 54%;
    transform: translateX(-50%);
    @include tablets() {
      height: 140px;
      width: 393px;
      top: -45px;
      left: 51%;
    }
    @include tablets() {
      height: 85px;
      width: 248px;
      top: -5px;
    }
  }
}

.feedback-notes {
  z-index: 20;
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @include tablets() {
    margin-bottom: 50px;
  }
}
.feedback-form-block {
  z-index: 20;
  position: relative;
  width: 380px;
  margin-bottom: 150px;
  border-radius: 5px;
  overflow: hidden;
  @include phone() {
    width: 90%;
  }
}
.feedback-bg {
  z-index: 10;
  position: absolute;
  opacity: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  img {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: -275px;
  }
}
.filter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -575px;
    @include tablets() {
      bottom: -665px;
    }
    filter: url('../img/icons/filter.svg#blur');
  }
}

.feedback-form-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  @include phone() {
    margin-bottom: 25px;
  }
  .block-title {
    @include phone() {
      font-size: 21px;
    }
  }
}
.feedback-form {
  position: relative;
}

.feedback-form__input {
  margin: 0 7%;
  height: 45px;
  width: 340px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  font-size: 16px;
  @include phone() {
    width: 86%;
  }
}
textarea.feedback-form__input {
  resize: none;
  height: 140px;
  padding-top: 15px;
}
.feedback-form__buttons {
  font-size: 0;
}
.feedback-form__button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 45px;
  background: rgba(#26bcaa, 1);
  border: none;
  width: 50%;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  padding: 0;
  color: #ffffff;
  transition: background-color 0.3s;
  border-left: 1px solid rgba(#ffffff, 0.5);
  &:hover {
    background: rgba(#26bcaa, 0.3);
  }
}
.feedback-form__button--after {
  border-left: none;
  border-right: 1px solid rgba(#ffffff, 0.5);
}
