.slider-content {
}

.slider {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  @include tablets() {
    flex-wrap: nowrap;
    height: 1010px;
  }
  @include phone() {
    height: 575px;
  }
}

.slider-desc {
  width: 50%;
  height: 100%;
  background: #f0efe9;
  @include tablets() {
    height: 270px;
  }
  @include phone() {
    height: 220px;
  }
}

.slider-demo {
  width: 50%;
  height: 70%;
  background: #efebe0;
  @include tablets() {
    height: 530px;
    order: -10;
  }
  @include phone() {
    height: 260px;
    order: -10;
  }
}

.slider-controls {
  width: 50%;
  height: 30%;
  display: flex;
  position: relative;
  @include tablets() {
    height: 210px;
  }
  @include phone() {
    height: 95px;
  }
}

.slider-desc,
.slider-demo,
.slider-controls {
  display: flex;
  @include tablets {
    width: 100%;
  }
}

.slider-container {
  width: 420px;
  margin: auto;
  text-align: center;
  @include tablets {
    width: 480px;
  }
}
@import 'slider-content';
