block var

<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="/styles/main.min.css")
        script(src="/js/bundle.js" defer)
    body
        block content
        include modules/menu.pug
        .l 1111 22 33 441111