extends ../main.pug
include ../modules/title.pug
block var
    - var title = 'Обо мне'

block content
    section.about-hero
        .container
            .svg-background
                img(src="./img/portfolio_header.svg", alt="")
            .hero__persone.hero__persone--bigger
                include ../modules/persone.pug
            .hero__socials.hero__socials--white
                include ../modules/socials.pug
            a.hero__arrow(href='#')
                img(src="./img/arrow.svg", alt="")
            .hamburger
                img(src="./img/hamburger.svg")
    section.about-desc
        .container-svg-triangles
            include ../modules/triangle.pug
        .container-left
            .about-desc-title
                img.about-desc-title__svg-back(src="./img/icons/about_header.svg", alt="")
                +title('Обо мне')
            .about-desc-content
                .about-content__avatar
                    img(src="./img/avatar.jpg", alt="Аватар")
                .about-content__title
                    +title('Кто я')
                .about-content__desc
                    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p Этот сайт я сделал в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!
        .container-right
            .about-skills__title
                +title('Чем я могу быть вам полезен')
            .skills__desc
                p Больше всего меня привлекает Frontend-разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.

