extends ../main.pug

block var
    - var title = 'Добро пожаловать'

block content
    .welcome-wrap
        .welcome-auth-block
            include ../modules/auth-button.pug
        .welcome-block
            .wel-bg
            .welcome__persone
                include ../modules/persone.pug
            .welcome__social
                include ../modules/socials.pug
            .welcome__menu
                include ../modules/menu.pug
        .welcome-text
           span © Владимир Астахов | создано с любовью в LoftSchool | 2016