extends ../main.pug
include ../modules/title.pug

block var
    - var title = 'Авторизация'

block content
    .welcome-wrap
        .welcome-block
            .wel-bg
            .login-title
                +title('Авторизуйтесь')

            .auth-block
                include ../modules/auth-form.pug
            .welcome__menu
                include ../modules/auth-menu.pug
        .welcome-text
           span © Владимир Астахов | создано с любовью в LoftSchool | 2016