.welcome-wrap {
  z-index: 200;
  height: 100%;
  width: 100%;
  position: relative;
  @include tablets() {
    z-index: 201;
  }
}

.background-tablets {
  background: url('../img/bg.jpg');
  background-size: cover;
}
.welcome-auth-block {
  position: absolute;
  top: 25px;
  right: 100px;
}
.welcome-block {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.flip {
  overflow: hidden;
  border-radius: 5px;
  width: 380px;
  position: relative;
  box-sizing: border-box;
  transition: all 1s ease;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: perspective(900px) rotate3d(0, 1, 0, -180deg);
}
.flip--active {
  transform: perspective(900px) rotate3d(0, 1, 0, 0deg);
}
.welcome {
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: perspective(900px) rotate3d(0, 1, 0, -180deg);
  display: none;
}
.welcome--active {
  display: block;
}
.auth {
  display: none;
}
.auth--active {
  display: block;
}
.wel-bg {
  top: 0;
  left: 0;
  position: absolute;
  height: calc(100% - 44.5px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: -1;
}
.welcome__menu {
  width: 100%;
  margin-top: 40px;
}
.welcome__persone {
  margin-top: 40px;
  margin-bottom: 35px;
}
.welcome__social {
  text-align: center;
}
.welcome-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto';
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

@import '../../_components/auth-button/auth-button';
@import '../../_components/persone/persone';
@import '../../_components/menu/menu';
@import '../../_components/socials/socials';
@import '../../_components/paralax/paralax';
