.welcome-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  background: url('../img/bg.jpg');
  background-size: cover;
}
.welcome-auth-block {
  position: absolute;
  top: 25px;
  right: 100px;
}
.welcome-block {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 380px;
  min-height: 395px;
  padding-top: 40px;
  border-radius: 5px;
  padding-bottom: 45px;
}
.wel-bg {
  top: 0;
  left: 0;
  position: absolute;
  height: calc(100% - 44.5px);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: -1;
}
.welcome__menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.welcome__persone {
  margin-bottom: 35px;
}
.welcome__social {
  text-align: center;
}
.welcome-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  font-style: normal;
  font-family: 'Roboto';
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

@import '../../_components/auth-button/auth-button';
@import '../../_components/persone/persone';
@import '../../_components/menu/menu';
@import '../../_components/socials/socials';
