extends ../main.pug
include ../_components/footer/footer.pug
include ../_components/title/title.pug

block var
    - var title = 'Блог'

block content
    section.blog-hero
        .container
            .blog-hero__persone
                .blog-hero__persone-avatar
                    img(src="./img/persone-avatar.jpg")
                .blog-hero__persone-desc
                    +title('Блог')
                    .blog-hero__subtitle Статьи, которые я написал
                    .blog-svg-background
                        img(src="./img/blog_header.svg", alt="")
            .hero__socials.hero__socials--white
                include ../_components/socials/socials.pug
            a.hero__arrow(href='#')
                img(src="./img/arrow.svg", alt="")
            include ../_components/hamburger/hamburger.pug
    section.blog-blog
        .container-svg-triangles
            include ../_components/triangle/triangle.pug
        .container-blog
            ul.blog-menu
                li.blog-menu__item.blog-menu__item--active
                    a.blog-menu__link(href='#') Самое важное в SASS
                li.blog-menu__item 
                    a.blog-menu__link(href='#') Приёмы в вёрстке, без которых не обходится ни один сайт
                li.blog-menu__item 
                    a.blog-menu__link(href='#') Самый необходимый набор Gulp плагинов
            .posts
                .blog-post
                    .blog-post__title
                        +title('Самое важное в SASS')
                    .blog-post__date 22 ноября 2016
                    .blog-post__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленых задач. Тавариши! Постоянный количественный рост и сфера нашей активности способствует подготовке и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответсвует насущным потребностям.
                .blog-post
                    .blog-post__title
                        +title('Приёмы в верстке, без которых не обходится ни один сайт')
                    .blog-post__date 13 ноября 2016
                    .blog-post__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленых задач. Тавариши! Постоянный количественный рост и сфера нашей активности способствует подготовке и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответсвует насущным потребностям.
        +footer(3)